[submodule "data/bounty-data"]
	path = data/bounty-data
	url = https://github.com/arkadiyt/bounty-targets-data.git
[submodule "kali/image-build"]
	path = kali/image-build
	url = https://gitlab.com/kalilinux/build-scripts/kali-vm.git
